{% extends 'frontend/base.html' %}
{% block title %} News {% endblock %}
{% block content %}
<div class="jumbotron">
    <p><font size="6">News</center></p>
        <p><font size="5"color="black"><a href="https://www.thairath.co.th/sport/eurofootball/premierleague/1945051">โอเล กุนนาร์ โซลชาร์ ยอมรับว่าการแพ้ สเปอร์ส คาบ้านแบบยับเยินถึง 1-6 ในพรีเมียร์ลีกนัดล่าสุด คือเรื่องที่น่าอาย และเป็นวันที่เลวร้ายที่สุดในการคุมทีม แมนเชสเตอร์ ยูไนเต็ด</a></p>
        <img src="static/images/tt.jpg" height="300" width="375">
        <p><font size="5"color="black"><a href="https://sport.trueid.net/detail/LN6DgOGGRrQq">ไม่น้อยหน้าผี! แอสตัน วิลล่า เปิดบ้านถล่ม ลิเวอร์พูล 7-2 ศึก พรีเมียร์ลีก </a></p>
        <img src="static/images/bb.jpg" height="300" width="375">
</div>

{% endblock %}