{% extends 'frontend/base.html' %}
{% block title %} football trivia {% endblock %}
{% block content %}
<div class="jumbotron">
    <p><font size="6">football trivia</center></p>
        <p><font size="5"color="black">นักฟุตบอลที่ยิงประตูมากที่สุดในโลก คือ เปเล่ ซึ่งยิงประตูทั้งหมดกว่า 1,282</p>
        <img src="static/images/11.jpg" height="250" width="250">
        <p><font size="5"color="black">นักฟุตบอลที่วิ่งเร็วที่สุดในโลก คือ อดาม่า ตราโอเร่  นักเตะจากสโมสร วูล์ฟแฮมป์ตัน หมายเลข 37  ตำแหน่ง : กองหน้าปีกซ้าย  อายุ 23 ปี ความเร็ว top speed 35.48 </p>
        <img src="static/images/12.jpg" height="250" width="250">
        <p><font size="5"color="black">นักฟุตบอลที่มีค่าตัวแพงที่สุดในโลก คือ เนย์มาร์: บาร์เซโลน่า ไป ปารีส แซงต์-แชร์กแมง (2017) 198 ล้านปอนด์ (ประมาณ 8,910 ล้านบาท)</p>
        <img src="static/images/13.jpg" height="250" width="250">
</div>
{% endblock %}